# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\root\jdk-646a4fb1142c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
